.div{
	border: 1px solid orange;
}
.span{
	border: 1px solid red;
}

/*
.componente{
	border	: 1px solid blue;
}
*/

.sombreado{
	border: 1px solid black;
	box-shadow: 0 2px 4px lightgrey;
}
.redondeado{
	border-radius: 6px 6px 6px 6px;
	overflow: hidden;
}


#cabecera{
	background-color: white;
	height: 20%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid white;	
}
#cuerpo{
	text-align: center;
	background-color: white;
/*	height: 60%; */
}
.contenido{
		display: block;
		/* Va a determinar la forma en la que se visualizan los elementos*/
		background-color: white;
/*		height: 100%;*/
/*		width: 400px; */
		margin: auto;
		padding: center;
		text-align: center;
}

/* componenteText*/
.componenteText{
	height: 50px;
/*	width: 400px; */
	padding-top: 5px;
}
.componenteTextEtiqueta{
	display: block;
	width: 97%;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}
.componenteTextTexto{
	display: block;
	width: 95%;
	margin: auto;
	font-size: 14px;
	font-family: Helvetica;
}
/* componenteText*/
/* componenteLista*/
.componenteLista{
	height: 50px;
	width: 400px;
	padding-top: 5px;
}
.componenteListaEtiqueta{
	display: block;
	width: 97%;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}
.componenteListaTexto{
	display: block;
	width: 95%;
	margin: auto;
	font-size: 14px;
}
/* componenteLista*/
/* componenteULista*/
.componteULista  {
	width: 400px;
	padding-top: 5px;
}
.componenteUListaEtiqueta{
	display: block;
	width: 97%;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}
.componenteUListaTexto{
	margin: auto;
	font-family: Helvetica;
	font-size: 14px;
	text-align: justify;
}
/* componenteULista*/

/* botonera*/

.componenteBotonera{
	display: inline-flex;
	width: 95%;
	margin: auto;
	font-size: 14px;
	padding: 5px 5px 5px 5px ;
	width: 190px;
/*	border-color: blue;*/
}

.componenteBotoneraElementos{
	display: inline;
	/*	width: 95%;
	margin: auto;
	font-size: 14px;
	padding: 5px 5px 5px 5px ;*/
}

input[type=button]{
	width: 85px;
	font-size: 16px;
	margin-top: 6px;
	margin-bottom: 5px;
	cursor: pointer;
}

.componenteBotoneraElementosSpan{
	font-family: Helvetica;
	font-size: 16px;
	color: darkblue;
}

.componenteBotoneraElementosBotones{
	display: inline-block;
	width: 180px;
	margin: auto;
	font-size: 14px;
	padding: 5px 5px 5px 5px ;
}
/* botonera*/

#pie{
	color: red;
	height: 20%;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}
